// You can add CSS rules here that will be inlucded in Hydejack's CSS file
.avatar {
	width: 15rem;
	height: 15rem;
	margin-bottom: 0px !important
}

h2 {
	margin-top: 1.5em;
}

h3 {
	margin-top: 1em;
}

a {
	font-weight: bold
}

@font-face {
font-family:"proxima-nova";
src:url("/assets/fonts/proxima.otf") format("opentype");
font-style:normal;font-weight:600;
}

@font-face {
font-family:"proxima-nova";
src:url("/assets/fonts/proxima-italic.otf") format("opentype");
font-style:italic;font-weight:600;
}

@font-face {
font-family:"acumin-pro";
src:url("/assets/fonts/acumin.otf") format("opentype");
font-style:normal;font-weight:200;
}